body {
    background-color: #f1eeee;
}

.login-container {
    margin-top: 300px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.col-md-6 {
    max-width: 350px;
}

.img-logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav .btn {
    font-size: 14px;
}