{% extends 'users/base.html' %}
{% load static %}

{% block title %}
   Create Test Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_app/css/create_questions_styles.css' %}">
{% endblock %}

{% block content %}
{% include 'main_app/header.html' %}

<div class="create-test-container container mt-5">
    <h2>Create Test</h2>
    <form id="createTestForm" action="{% url 'main_app:tests-page' %}" onsubmit="collectFormData()" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="questionsContainer"></div>

        <button type="button" class="btn btn-primary mt-2" onclick="addQuestion()">Add Question</button>
        <button type="submit" class="btn btn-success mt-2">Create Test</button>
    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'main_app/js/create_questions.js' %}"></script>

{% endblock %}