{% extends 'users/base.html' %}
{% load static %}

{% block title %}
   Create Test Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_app/css/create_test_style.css' %}">
{% endblock %}

{% block content %}
{% include 'main_app/header.html' %}

<div class="page-container container mt-5">
    <div class="form-container">
        <h2>Create Test</h2>
        <form action="{% url 'main_app:create-test' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Test Name:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Test Description:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="{{ form.complexity.id_for_label }}">Difficulty (1-10):</label>
                {{ form.complexity }}
            </div>
            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Test Image:</label>
                <div class="file-input-wrapper">
                    <label for="testImage" class="btn btn-outline-primary">Upload Image</label>
                    {{ form.image }}
                    <span class="file-input-text"></span>
                </div>
            </div>
            <button type="submit">Next to create Questions</button>
        </form>
    </div>
</div>

<script>
    // Display selected file name
    function displayFileName(input) {
        var fileName = input.files[0].name;
        $(input).siblings('.file-input-text').text(fileName);
    }
</script>

{% endblock %}
