<header class="bg-primary text-white text-center py-2">
    <div class="container d-flex align-items-center">
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Logout</button>
        </form>
        <a href="{% url 'main_app:tests-page' %}" class="ml-auto">
            <button class="btn btn-dark">Тести</button>
        </a>
        <a href="{% url 'users:profile' user.id %}" class="ml-2">
            <button class="btn btn-info">Профіль</button>
        </a>
    </div>
</header>