{% extends 'users/base.html' %}
{% load static %}

{% block title %}
   Home Page
{% endblock %}

{% block content %}

{% include 'main_app/header.html' %}

<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Тести</h2>
        <div class="row">
            {% for test in object_list %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{% if test.image %}{{ test.image.url }}{% else %}{% static 'main_app/images/test-quiz.jpg' %}{% endif %}" class="card-img-top" alt="Test Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ test.name }}</h5>
                            <p class="card-text">Опис: {{ test.description|truncatewords:30 }}</p>
                            <p class="card-text">Кількість питань: -</p>
                            <p class="card-text">Складність: {{ test.complexity }}</p>
                            <a href="#" class="btn btn-primary">Пройти тест</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
