{% extends 'users/base.html' %}
{% load static %}

{% block title %}
   Home Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/home_style.css' %}">
{% endblock %}

{% block content %}

{% include 'main_app/header.html' %}

<!-- Секция с тестами -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Тесты</h2>
        <div class="row">
            <!-- Карточка теста -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'path/to/test_image.jpg' %}" class="card-img-top" alt="Test Image">
                    <div class="card-body">
                        <h5 class="card-title">Название теста</h5>
                        <p class="card-text">Количество вопросов: 20</p>
                        <p class="card-text">Сложность: Средняя</p>
                        <a href="#" class="btn btn-primary">Пройти тест</a>
                    </div>
                </div>
            </div>
            <!-- Добавьте аналогичные блоки для других тестов -->
        </div>
    </div>
</section>

{% endblock %}
